@import "home/styles/container.scss";
@import "home/styles/index.scss";
@import "home/styles/themes.scss";

.posts {
  &__container {
    @include container();
  }

  &__empty-block {
    border: 1px solid var(--border-color);
    background: var(--accent-background-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;

    @media (max-width: $mobileWidth) {
      min-width: auto;
    }
  }

  &__empty-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__empty-text {
    margin-bottom: 30px;
  }

  &__empty-btns {
    button {
      margin: 5px 10px;
    }
  }

  .post {
    margin-bottom: 20px;
  }
}
