@import "home/styles/themes.scss";

button {
  border: 1px solid var(--border-color);
  outline: none;
  box-sizing: border-box;
  background: var(--background-button-color);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;

  &:hover {
    background: var(--accent-background-button-color);
    color: var(--background-button-color);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--faded-text-color);
    background: var(--background-button-color);
    opacity: 0.6;
  }
}
