button {
  border: 1px solid #23282c;
  outline: none;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #23282c;
  font-size: 16px;

  &:hover {
    background: #23282c;
    color: #f1f1f1;
  }

  &:disabled {
    cursor: not-allowed;
    background: #f1f1f1;
    color: #23282c;
    opacity: 0.6;
  }
}
