@import "home/styles/themes.scss";

.comment {
  &__author {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__text {
    background: var(--accent-background-color);
    border: 1px solid #32373b;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    font-size: 18px;
  }
}
