.comment {
  &__author {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__text {
    background: #d4d4d4;
    border: 1px solid #32373b;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    font-size: 18px;
  }
}
