@import "home/styles/container.scss";
@import "home/styles/index.scss";
@import "home/styles/themes.scss";

.settings {
  &__container {
    @include container();
  }

  &__box {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    background: var(--accent-background-color);
    position: relative;

    &--disable {
      opacity: 0.5;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 300px;
    transform: translate(0, -50%);
    text-align: center;
  }

  &__box-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__theme-item {
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    background: var(--background-button-color);
    cursor: pointer;
  }
}
