@import "home/styles/index.scss";
@import "home/styles/container.scss";

.post-edit {
  &__container {
    @include container();
  }

  &__form {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    margin: 40px auto 20px;
    background: var(--accent-background-color);

    @media (max-width: $tabletWidth) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  label {
    font-weight: bold;
    margin-bottom: 4px;
  }

  input,
  textarea {
    margin-bottom: 20px;
  }

  &__textarea {
    min-height: 100px;
    resize: vertical;

    &--big {
      min-height: 220px;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 500px) {
      justify-content: space-between;
    }

    @media (max-width: $mobileWidth) {
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    margin: 20px auto;

    &:empty {
      display: none;
    }
  }

  &__comment {
    margin-bottom: 20px;
    text-align: right;

    .comment {
      text-align: left;
      margin-bottom: 10px;
    }

    @media (max-width: $mobileWidth) {
      button {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  &__succes-msg {
    text-align: center;
  }

  &__succes-btns {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 auto;

    button {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
