@import "home/styles/index.scss";
@import "home/styles/themes.scss";

.header {
  text-align: right;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 10px 10px 17px var(--background-color);
  position: relative;

  &__title {
    text-align: right;
    font-size: 34px;
    display: inline-block;
    margin-left: auto;
    background: #1b1b1b;
    padding: 4px 10px 4px 30px;
    color: #bbb;
    border-radius: 20px 0 0 6px;
    margin-top: 10px;
    border: 1px solid var(--border-color);
    border-right: none;

    @media (max-width: $tabletWidth) {
      font-size: 26px;
    }

    @media (max-width: $mobileWidth) {
      font-size: 18px;
    }
  }

  &__link {
    color: var(--faded-text-color);
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
