@import "home/styles/index.scss";
@import "home/styles/index.scss";

.header {
  text-align: right;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 10px 20px 17px #f1f1f1;
  position: relative;

  &__title {
    text-align: right;
    font-size: 34px;
    display: inline-block;
    margin-left: auto;
    background: #1b1b1b;
    padding: 4px 10px 4px 30px;
    color: #bbb;
    border-radius: 20px 0 0 6px;
    margin-top: 10px;

    @media (max-width: $tabletWidth) {
      font-size: 26px;
    }

    @media (max-width: $mobileWidth) {
      font-size: 18px;
    }
  }

  &__link {
    color: #505050;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #23282c;
    }
  }
}
