@import "home/styles/index.scss";
@import "home/styles/themes.scss";

.dialog {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--accent-background-color);
  padding: 20px 40px;
  text-align: center;
  color: var(--text-color);
  box-shadow: 4px 4px 4px black;
  max-width: 90%;

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 10px;
      width: 30%;
      min-width: 100px;
    }
  }
}
