@import "home/styles/themes.scss";

.post {
  $self: &;

  cursor: pointer;

  &__clickable-box:hover {
    #{$self}__title {
      text-decoration: underline;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 4px;
  }
  &__description {
    background: var(--accent-background-color);
    border: 1px solid #32373b;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    font-size: 18px;
  }

  &__sub-text {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    color: var(--faded-text-color);
  }

  &__comment-count {
    font-size: 16px;
  }

  &__link {
    color: var(--faded-text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
