@import "home/styles/index.scss";
@import "home/styles/button.scss";
@import "home/styles/input.scss";
@import "home/styles/themes.scss";

* {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

$panelWidth: 240px;
$panelHeight: 70px;

.panel {
  background: #23282c;
  border-right: 1px solid var(--border-color);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: $panelWidth;

  &__link {
    $color: #bbb;
    $activeColor: #fff;

    background: #32373b;
    color: $color;
    display: flex;
    font-size: 18px;
    padding: 20px;
    position: relative;
    width: 100%;
    align-items: center;

    &-image {
      margin-right: 10px;

      svg {
        height: 30px;
        width: auto;
        display: inline-block;
        path {
          fill: $color;
        }
      }
    }

    &:hover,
    &--active {
      color: $activeColor;

      svg {
        path {
          fill: $activeColor;
        }
      }
    }

    &--active {
      $size: 12px;

      &::after,
      &::before {
        content: " ";
        display: block;
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        border: $size solid transparent;
      }

      &::after {
        right: -3px;
        border-right: $size solid var(--background-color);
      }

      &::before {
        right: -1px;
        border-right: $size solid #bbb;
      }
    }

    @media (max-width: $tabletWidth) {
      &:not(:last-child) {
        border-right: 1px solid gray;
      }
    }
  }

  @media (max-width: $tabletWidth) {
    height: $panelHeight;
    display: flex;
    width: 100%;

    &__link {
      justify-content: center;
      flex-direction: column;

      &--active {
        background: #1b1b1b;
      }

      &::after {
        display: none;
      }
    }

    &__link-image {
      margin: 0;
      display: block;
    }
    &__link-name {
      display: block;
      text-align: center;
      font-size: 16px;
    }
  }

  @media (max-width: $mobileWidth) {
    &__link-name {
      display: none;
    }
  }
}

.page {
  background: var(--background-color);
  height: 100vh;
  left: $panelWidth;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  color: var(--text-color);
 
  @media (max-width: $tabletWidth) {
    left: 0;
    top: $panelHeight;
    height: calc(100vh - #{$panelHeight});
  }
}
